services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=django_db
      - POSTGRES_USER=mon_user
      - POSTGRES_PASSWORD=mon_password

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=django_db
      - DB_USER=mon_user
      - DB_PASS=mon_password
    depends_on:
      - db

volumes:
  postgres_data: